<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rnfive.htfu.pisprinkler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.wireguard.android.permission.CONTROL_TUNNELS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.PiSprinkler"
        android:name=".App">
        <activity android:name="rnfive.htfu.pisprinkler.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="rnfive.htfu.pisprinkler.ProgramActivity"/>
        <activity android:name="rnfive.htfu.pisprinkler.ZoneActivity"/>
        <receiver android:name="rnfive.htfu.pisprinkler.widget.MainWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="rnfive.htfu.extra.APP_WIDGET_ID" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>
    </application>

</manifest>